.wrapper {
  position: relative;
  width: 800px;
}

.bg {
  width: 100%;
  display: block;
}

/* checkbox chung */
.check {
  position: absolute;
}

.check span {
  width: 14px;
  height: 14px;
  border: 2px solid #555;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

/* ===== CỘT TRÁI ===== */
/* Growth */
.g1 { top: 235px; left: 115px; }
.g2 { top: 265px; left: 115px; }
.g3 { top: 295px; left: 115px; }
.g

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    transform: scale(0.85);
    transform-origin: top center;
  }
}

@media (max-width: 480px) {
  .wrapper {
    transform: scale(0.65);
    transform-origin: top center;
  }
}

